<ul class="navbar-nav flex-column" id="sidebarnav">
    <!-- Getting Started -->
    <!--
    <li class="navbar-header">
      <h5 class="heading">시작하기</h5>
    </li>
    <li class="nav-item">
        <a href="/" class="nav-link">러스트소개</a>
    </li>
    <li class="nav-item">
        <a href="/setup" class="nav-link">설치</a>
    </li>
    <li class="nav-item">
        <a href="/setup/editing" class="nav-link">코드 편집기</a>
    </li>

    <li>
        <div class="navbar-border"></div>
    </li>
    -->

    <!-- Hello World -->
    <!--
    <li class="navbar-header">
        <h5 class="heading">헬로우월드</h5>
    </li>
    <li class="nav-item">
        <a href="/basic/hello" class="nav-link">예제코드</a>
    </li>
    <li class="nav-item">
        <a href="/basic/project" class="nav-link">프로젝트</a>
    </li>

    <li>
        <div class="navbar-border"></div>
    </li>
    -->


    <!-- Basic -->
    <!--
<li class="navbar-header">
        <h5 class="heading">기본학습</h5>
    </li>
    <li class="nav-item">
        <a href="/basic" class="nav-link">기본문법</a>
    </li>
    <li class="nav-item">
        <a href="/basic/variable" class="nav-link">변수</a>
    </li>
    <li class="nav-item">
        <a href="/basic/condition" class="nav-link">조건문</a>
    </li>
    <li class="nav-item">
        <a href="/basic/loop" class="nav-link">반복문</a>
    </li>
    <li class="nav-item">
        <a href="/basic/function" class="nav-link">함수</a>
    </li>

    <li class="nav-item">
        <a href="/basic/type" class="nav-link">데이터 타입</a>
    </li>
    <li class="nav-item">
        <a href="/basic/ownership" class="nav-link">수명,소유권,대여</a>
    </li>
    

    <li>
        <div class="navbar-border"></div>
    </li>

    <li class="navbar-header">
        <h5 class="heading">심화학습</h5>
    </li>
    <li class="nav-item">
        <a href="/advence/data" class="nav-link">데이터 심화</a>
    </li>
    <li class="nav-item">
        <a href="/advence/memory" class="nav-link">메모리</a>
    </li>
    <li class="nav-item">
        <a href="/advence/file" class="nav-link">파일과 저장소</a>
    </li>
    <li class="nav-item">
        <a href="/advence/file" class="nav-link">네트워킹</a>
    </li>
    <li class="nav-item">
        <a href="/advence/time" class="nav-link">시간과 시간관리</a>
    </li>
    <li class="nav-item">
        <a href="/advence/process" class="nav-link">프로세스,스래드,컨테이너</a>
    </li>
    <li class="nav-item">
        <a href="/advence/kernal" class="nav-link">커널</a>
    </li>
    <li class="nav-item">
        <a href="/advence/signal" class="nav-link">시그널, 인터럽트,예외</a>
    </li>

    <li>
      <div class="navbar-border"></div>
    </li>

    <li class="navbar-header">
        <h5 class="heading">확장</h5>
    </li>
    -->
    

</ul>